* {
    margin-top: 0;
    margin-left: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
}
body{
  overflow-x: hidden;
}
#header{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
   text-align: center;
   align-items: center;
    
    background-image: url(../../img/img-about/page-title-bar.jpg);
    background-size: cover;
    
    .head-img{
        padding-top: 100px;

       h1{
        font-size: 50px;
        color: white;
       }
       span{
        color: white;
        font-size: 18px;
        font-weight: 300;
       }

    }
}

#first-about{
  .text-about{
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
      font-size: 50px;
      font-weight: 600;
    }
    h3{
      font-size: 24px;
      font-weight: 600;
      padding: 10px 0;
    }
    p{
  
    }
    button{
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      background-color: #FF5722;
      width: 150px;
      height: 50px;
      border-radius: 0;
    }
  }
  img{
    width: 100%;
  }
  
}


#second-about{
  
  
  .text-about{
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
      font-size: 50px;
      font-weight: 600;
    }
    h3{
      font-size: 24px;
      font-weight: 600;
      padding: 10px 0;
    }
    p{
  
    }
    button{
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      background-color: #FF5722;
      width: 150px;
      height: 50px;
      border-radius: 0;
    }
  }
  img{
    width: 100%;
  }
}

#third-about{
  
  .text-about{
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
      font-size: 50px;
      font-weight: 600;
    }
    h3{
      font-size: 24px;
      font-weight: 600;
      padding: 10px 0;
    }
    p{
  
    }
    button{
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      background-color: #FF5722;
      width: 150px;
      height: 50px;
      border-radius: 0;
    }
  }
  img{
    width: 100%;
  }
}

#slide-card-foot {
  height: 600px;
  padding-top: 50px;
  text-align: center;
  background-image: url(../../img/img-about/down-background.jpg);

  h1 {
    color: white;
    padding-bottom: 0;
  }
  .carousell-section {
    padding-top: 0;
    .mySwiper2 {
        .swiper-wrapper {
            display: flex;
            align-items: center;
            gap: 10px;
            color: white;

            h5 {
              color: white;
              font-weight: 600 ;
              margin-top: 20px;
            }

            img {
                display: block;
                width: 150px !important;
                height: 150px !important;
                border-radius: 50% !important;
                object-fit: cover;
                object-position: center;
                filter: brightness(1) !important;
            }
        }
    }
  }
  .swiper {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  .swiper-slide {
    width: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .swiper-slide h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(170, 155, 155);
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem !important;
    filter: brightness(0.5);
  }

  .swiper-button-next {
    right: 4% !important;
    top: 46% !important;
  }
  .swiper-button-prev {
    left: 4% !important;
    top: 46% !important;
  }
  .carousell-section {
    padding-top: 70px;
    position: relative;
  }
  .component-section {
    padding: 50px;
  }
  .component-row {
    display: flex;
    justify-content: space-between;
  }
  .component-card {
    position: relative;
    width: 31.5%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .component-card .component-text {
    padding-left: 90px;
  }
  .shop-iconn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #283593;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    position: absolute;
    top: -35px;
    left: 20px;
  }
  img{
    width: 100%;
  }
}

.form-wrapper {
  
  margin: 50px auto;   
  background-color: #ffffff;
  border-radius: 5px;
}

.form-group {
  position:relative;  

  & + .form-group {
    margin-top: 30px;
  }
}

.form-label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #999;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .form-label {
  transform: translateY(-125%);
  font-size: .75em;
}

.form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;
  
  &:focus {
    box-shadow: 0 1px 0 0 black;
  }
}

.form-input.filled {
  box-shadow: 0 2px 0 0 lightgreen;
}


#foot-cards{
  h1{
    padding: 50px 0;
    text-align: center;
  }
 .card{
  border:none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  img{
    margin: 20px 0;
width: 200px;
height: 200px;
border-radius: 50%;
  }
  .card-body{
    width: 100%;
    padding: 1px;
    .card-title{

    }
    .card-text{

    }
    .btn-primary{

    }
  }
 }
}




#textes{
  padding: 0;
  a{
      text-decoration: none;
  }
 
  .text-left{
      img{
        width: 100%;
      }
      h5{
          padding: 20px 0 20px;
      }
      h6{
          padding: 10px 0 10px 0;
      }
  }
  .Contact-us {
      padding: 100px 100px;
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.1s;
 }
 .contact-us-btn{
  width: 150px;
  height: 40px;
  color: white;
  background: #FF5722;
 }

 .input-button {
    padding: 8px 12px;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 4px;
    background: #8c7569;
    font-family: "Nunito", sans-serif;
    transition: 0.3s;
    cursor: pointer;
  
    &:hover {
      background: #55311c;
    }
  }
  
  .input-label {
    font-size: 11px;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    letter-spacing: 0.7px;
    color: #8c7569;
    transition: 0.3s;
  }
  
  .input-block {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 8px;
    border: 1px solid #ddd;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    transition: 0.3s;
  
    input {
      outline: 0;
      border: 0;
      padding: 4px 0 0;
      font-size: 14px;
      font-family: "Nunito", sans-serif;
  
      &::placeholder {
        color: #ccc;
        opacity: 1;
      }
    }
  
    &:focus-within {
      border-color: #8c7569;
  
      .input-label {
        color: rgba(#8c7569, 0.8);
      }
    }
  }
  
}

#my-footer {
  background-color: black !important;
  li{
    a {
      text-decoration: none;
      transition: 0.2s;
      &:hover {
        color: #FF4816 !important;
        transition: 0.2s;
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;
  }

  .text-center {
    text-align: left !important;
  }
}


