* {
  margin-top: 0;
  margin-left: 0;
  box-sizing: border-box;
  font-family: "Lobster", cursive;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

#header {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url(../../img/img-about/page-title-bar.jpg);
  background-size: cover;
}
#header .head-img {
  padding-top: 100px;
}
#header .head-img h1 {
  font-size: 50px;
  color: white;
}
#header .head-img span {
  color: white;
  font-size: 18px;
  font-weight: 300;
}

#first-about .text-about {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#first-about .text-about h1 {
  font-size: 50px;
  font-weight: 600;
}
#first-about .text-about h3 {
  font-size: 24px;
  font-weight: 600;
  padding: 10px 0;
}
#first-about .text-about button {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: #FF5722;
  width: 150px;
  height: 50px;
  border-radius: 0;
}
#first-about img {
  width: 100%;
}

#second-about .text-about {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#second-about .text-about h1 {
  font-size: 50px;
  font-weight: 600;
}
#second-about .text-about h3 {
  font-size: 24px;
  font-weight: 600;
  padding: 10px 0;
}
#second-about .text-about button {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: #FF5722;
  width: 150px;
  height: 50px;
  border-radius: 0;
}
#second-about img {
  width: 100%;
}

#third-about .text-about {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#third-about .text-about h1 {
  font-size: 50px;
  font-weight: 600;
}
#third-about .text-about h3 {
  font-size: 24px;
  font-weight: 600;
  padding: 10px 0;
}
#third-about .text-about button {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: #FF5722;
  width: 150px;
  height: 50px;
  border-radius: 0;
}
#third-about img {
  width: 100%;
}

#slide-card-foot {
  height: 600px;
  padding-top: 50px;
  text-align: center;
  background-image: url(../../img/img-about/down-background.jpg);
}
#slide-card-foot h1 {
  color: white;
  padding-bottom: 0;
}
#slide-card-foot .carousell-section {
  padding-top: 0;
}
#slide-card-foot .carousell-section .mySwiper2 .swiper-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}
#slide-card-foot .carousell-section .mySwiper2 .swiper-wrapper h5 {
  color: white;
  font-weight: 600;
  margin-top: 20px;
}
#slide-card-foot .carousell-section .mySwiper2 .swiper-wrapper img {
  display: block;
  width: 150px !important;
  height: 150px !important;
  border-radius: 50% !important;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  filter: brightness(1) !important;
}
#slide-card-foot .swiper {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
#slide-card-foot .swiper-slide {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#slide-card-foot .swiper-slide h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(170, 155, 155);
}
#slide-card-foot .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 0.5rem !important;
  filter: brightness(0.5);
}
#slide-card-foot .swiper-button-next {
  right: 4% !important;
  top: 46% !important;
}
#slide-card-foot .swiper-button-prev {
  left: 4% !important;
  top: 46% !important;
}
#slide-card-foot .carousell-section {
  padding-top: 70px;
  position: relative;
}
#slide-card-foot .component-section {
  padding: 50px;
}
#slide-card-foot .component-row {
  display: flex;
  justify-content: space-between;
}
#slide-card-foot .component-card {
  position: relative;
  width: 31.5%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
}
#slide-card-foot .component-card .component-text {
  padding-left: 90px;
}
#slide-card-foot .shop-iconn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #283593;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  position: absolute;
  top: -35px;
  left: 20px;
}
#slide-card-foot img {
  width: 100%;
}

.form-wrapper {
  margin: 50px auto;
  background-color: #ffffff;
  border-radius: 5px;
}

.form-group {
  position: relative;
}
.form-group + .form-group {
  margin-top: 30px;
}

.form-label {
  position: absolute;
  left: 0;
  top: 10px;
  color: #999;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .form-label {
  transform: translateY(-125%);
  font-size: 0.75em;
}

.form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;
}
.form-input:focus {
  box-shadow: 0 1px 0 0 black;
}

.form-input.filled {
  box-shadow: 0 2px 0 0 lightgreen;
}

#foot-cards h1 {
  padding: 50px 0;
  text-align: center;
}
#foot-cards .card {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#foot-cards .card img {
  margin: 20px 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
#foot-cards .card .card-body {
  width: 100%;
  padding: 1px;
}
#textes {
  padding: 0;
}
#textes a {
  text-decoration: none;
}
#textes .text-left img {
  width: 100%;
}
#textes .text-left h5 {
  padding: 20px 0 20px;
}
#textes .text-left h6 {
  padding: 10px 0 10px 0;
}
#textes .Contact-us {
  padding: 100px 100px;
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.1s;
}
#textes .contact-us-btn {
  width: 150px;
  height: 40px;
  color: white;
  background: #FF5722;
}
#textes .input-button {
  padding: 8px 12px;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 4px;
  background: #8c7569;
  font-family: "Nunito", sans-serif;
  transition: 0.3s;
  cursor: pointer;
}
#textes .input-button:hover {
  background: #55311c;
}
#textes .input-label {
  font-size: 11px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #8c7569;
  transition: 0.3s;
}
#textes .input-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #ddd;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  transition: 0.3s;
}
#textes .input-block input {
  outline: 0;
  border: 0;
  padding: 4px 0 0;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
}
#textes .input-block input::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
#textes .input-block input:-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}
#textes .input-block input::placeholder {
  color: #ccc;
  opacity: 1;
}
#textes .input-block:focus-within {
  border-color: #8c7569;
}
#textes .input-block:focus-within .input-label {
  color: rgba(140, 117, 105, 0.8);
}

#my-footer {
  background-color: black !important;
}
#my-footer li a {
  text-decoration: none;
  transition: 0.2s;
}
#my-footer li a:hover {
  color: #FF4816 !important;
  transition: 0.2s;
}
#my-footer .copyright {
  display: flex;
  justify-content: space-between;
}
#my-footer .text-center {
  text-align: left !important;
}/*# sourceMappingURL=about.css.map */