body {
  overflow-x: hidden;
}

#black-area {
  background-color: black;

  .container {
    background-color: black;

    .welcome {
      p {
        color: white;
        padding-top: 10px;
        margin-right: 10px;
      }
    }

    .my-btn {
      width: 100px;
      height: 45px;
      padding-top: 10px;
      background-color: black;
      border: none;
      border-right: 1px solid white;
    }

    .flag-menu li {
      background-color: white !important;
      z-index: 1050 !important;
    }
  }

  .flag-menu li img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }

  .icons {
    display: flex;
    float: right;

    div {
      width: 50px;
      height: 45px;
      border-right: 1px solid white;
      position: relative;
      justify-content: center;
      align-items: center;
      display: flex;
      cursor: pointer;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: white;
          font-size: 20px;
          position: absolute;
        }
        i {
          color: white;
          font-size: 20px;
          position: absolute;

          sup {
            border-radius: 50%;
            font-size: 10px;
            padding: 4px;
            top: -15px;
            right: 5px;
            background-color: coral;
          }
        }
        sup {
          border-radius: 50%;
          font-size: 10px;
          padding: 4px;
          top: -15px;
          right: 5px;
          background-color: coral;
        }
      }

      div:nth-child(1) {
        border-left: none;
      }
    }

    .prof-drop {
      .dropdown-item {
        color: #1e2125;
        background-color: white;
      }
      width: 50px;
      padding: 0 40px;
      border-top: none;
      border: none !important;
      display: flex;
      cursor: pointer;

      i {
        color: #000;
      }
      a {
        padding-left: 30px;
      }
    }
  }
}

#center-area {
  background-color: #f3f3f4;

  .container {
    background-color: #f3f3f4;

    .head {
      height: 100px;
      position: relative;
      display: flex;
      align-items: center;

      img {
        position: absolute;
      }
    }

    .input {
      height: 100px;
      position: relative;
      display: flex;
      align-items: center;

      input {
        width: 550px;
        height: 40px;
        right: 0;
        border: none;
        outline: none;
        border-radius: 3px;
        position: absolute;
        padding-left: 20px;
      }

      i {
        position: absolute;
        right: 15px;
      }
    }
  }
}

#navbar-area {
  background-color: #283593;

  nav {
    float: inherit !important;
  }

  .container {
    nav {
      margin-left: 20px;
    }

    .btn {
      display: flex;
      align-items: center;

      .admin {
        background-color: #ff5722;
        width: 125px;
      }

      li {
        display: inline-block;
        transition: all 0.3s ease-in-out;
        margin-right: 25px;
        z-index: 2;

        .nav-a {
          color: white;
          display: block;
          text-decoration: none;
          position: relative;
          margin-top: 15px;
          padding-bottom: 10px;

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: -10px;
            left: 0px;
            background-color: #ff5722;
            transition: all 0.2s ease-in-out;
            transform: scale(0, 0);
            visibility: hidden;
          }
        }

        &:hover {
          .home {
            height: 120px;
            z-index: 2;
          }

          .submenu {
            height: 160px;
            z-index: 2;
          }

          .categori {
            height: 250px;
            z-index: 2;
          }

          a {
            &::before {
              visibility: visible;
              transform: scale(1, 1);
            }
          }
        }

        .home {
          overflow: hidden;
          position: absolute;
          margin-top: 10px;
          background-color: white;
          height: 0;
          width: 150px;
          line-height: 40px;
          transition: height 0.3s ease-in-out;
          transition-delay: 0.1s;
          text-align: left;
          padding-left: 15px;
          border-radius: 5px;

          a {
            color: #000;
            font-size: 16px;
            text-decoration: none;
          }
        }

        .submenu {
          overflow: hidden;
          position: absolute;
          margin-top: 10px;
          background-color: white;
          height: 0;
          width: 185px;
          line-height: 40px;
          transition: height 0.3s ease-in-out;
          transition-delay: 0.1s;
          text-align: left;
          padding-left: 15px;
          border-radius: 5px;

          a {
            color: #000;
            font-size: 16px;
            text-decoration: none;
          }
        }

        .categori {
          overflow: hidden;
          position: absolute;
          margin-top: 10px;
          background-color: white;
          height: 0;
          width: 800px;
          padding: 0 30px;
          line-height: 30px;
          text-align: left;
          transition: height 0.3s ease-in-out;
          transition-delay: 0.2s;
          text-align: left;
          margin-left: -200px;
          border-radius: 10px;

          table td {
            border: none;
          }

          table {
            th {
              font-size: 17px;
              color: blue;

              &:hover {
                color: #000;
              }
            }
          }
        }
      }

      h1 {
        text-align: center;
        font-family: satisfy;
        font-weight: 300;
      }

      padding: 0;
      margin: 0;
    }
  }

  background-color: #283593;
  z-index: 2;

  width: 100%;
  display: block;
  transition: 0.5s;

  .inActive {
    display: none;
  }

  .head {
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;

    img {
      position: absolute;
      color: white !important;
    }
  }

  nav {
    float: right;
  }

  .btn {
    display: flex;
    align-items: center;

    .admin {
      background-color: #ff5722;
      width: 125px;
      height: 60px;
      padding-top: 4px;
      margin-right: 0;
    }

    li {
      display: inline-block;
      transition: all 0.3s ease-in-out;
      margin-right: 25px;

      .nav-a {
        color: white;
        display: block;
        text-decoration: none;
        position: relative;
        margin-top: 15px;
        padding-bottom: 10px;
      }

      .home {
        overflow: hidden;
        position: absolute;
        margin-top: 10px;
        background-color: white;
        height: 0;
        width: 150px;
        line-height: 40px;
        transition: height 0.3s ease-in-out;
        transition-delay: 0.1s;
        text-align: left;
        padding-left: 15px;
        border-radius: 5px;

        a {
          color: #000;
          font-size: 16px;
          text-decoration: none;
        }
      }

      .submenu {
        overflow: hidden;
        position: absolute;
        margin-top: 10px;
        background-color: white;
        height: 0;
        width: 150px;
        line-height: 40px;
        transition: height 0.3s ease-in-out;
        transition-delay: 0.1s;
        text-align: left;
        padding-left: 15px;
        border-radius: 5px;

        a {
          color: #000;
          font-size: 16px;
          text-decoration: none;
        }
      }

      .categori {
        overflow: hidden;
        position: absolute;
        margin-top: 10px;
        background-color: white;
        height: 0;
        width: 800px;
        line-height: 30px;
        text-align: left;
        transition: height 0.3s ease-in-out;
        transition-delay: 0.2s;
        text-align: left;
        margin-left: -220px;
        border-radius: 10px;

        table td {
          border: none;
        }

        table {
          th {
            font-size: 17px;
            color: blue;

            &:hover {
              color: #000;
            }
          }
        }
      }
    }

    h1 {
      text-align: center;
      font-family: satisfy;
      font-weight: 300;
    }

    padding: 0;
    margin: 0;
  }

  .navbar {
    z-index: 100 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.drop-show {
  display: block !important;
}

.categoriess {
  display: none;
}

#scroll-section {
  background-color: #283593;
  z-index: 2;
  position: fixed;
  width: 100%;
  display: block;
  transition: 0.5s;

  .inActive {
    display: none;
  }

  .navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .head {
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;

    img {
      color: white !important;
    }
  }

  .scroll-body {
    justify-content: space-between !important;
  }

  .offcanvas-body {
    flex-grow: 0 !important;
  }

  .offcanvas {
    width: 100% !important;
  }

  .offcanvas-header {
    justify-content: flex-end !important;
  }

  .btn {
    display: flex;
    align-items: center;
    font-size: 1.2vw !important;

    .admin {
      background-color: #ff5722;
      padding: 4px 10px;
      margin-right: 0;
    }

    li {
      display: inline-block;
      transition: all 0.3s ease-in-out;
      margin-right: 25px;

      .nav-a {
        color: white;
        display: block;
        text-decoration: none;
        position: relative;
        margin-top: 15px;
        padding-bottom: 10px;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          bottom: -10px;
          left: 0px;
          background-color: #ff5722;
          transition: all 0.2s ease-in-out;
          transform: scale(0, 0);
          visibility: hidden;
        }
      }

      &:hover {
        .home {
          height: 120px;
        }

        .submenu {
          height: 200px;
        }

        .categori {
          height: 250px;
        }

        a {
          &::before {
            visibility: visible;
            transform: scale(1, 1);
          }
        }
      }

      .home {
        overflow: hidden;
        position: absolute;
        margin-top: 10px;
        background-color: white;
        height: 0;
        width: 150px;
        line-height: 40px;
        transition: height 0.3s ease-in-out;
        transition-delay: 0.1s;
        text-align: left;
        padding-left: 15px;
        border-radius: 5px;

        a {
          color: #000;
          font-size: 16px;
          text-decoration: none;
        }
      }

      .submenu {
        overflow: hidden;
        position: absolute;
        margin-top: 10px;
        background-color: white;
        height: 0;
        width: 185px;
        line-height: 40px;
        transition: height 0.3s ease-in-out;
        transition-delay: 0.1s;
        text-align: left;
        padding-left: 15px;
        border-radius: 5px;

        a {
          color: #000;
          font-size: 16px;
          text-decoration: none;
        }
      }

      .categori {
        overflow: hidden;
        position: absolute;
        margin-top: 10px;
        background-color: white;
        height: 0;
        width: 800px;
        line-height: 30px;
        text-align: left;
        transition: height 0.3s ease-in-out;
        transition-delay: 0.2s;
        text-align: left;
        margin-left: -220px;
        border-radius: 10px;

        table td {
          border: none;
        }

        table {
          th {
            font-size: 17px;
            color: blue;

            &:hover {
              color: #000;
            }
          }
        }
      }
    }

    h1 {
      text-align: center;
      font-family: satisfy;
      font-weight: 300;
    }

    padding: 0;
    margin: 0;
  }
}

#slider-header {
  .swiper {
    min-height: 50vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  .swiper-slide-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    button {
      width: 120px;
      padding: 6px 0;
      border-radius: 5px;
      font-weight: 500;
      border: none;
    }
    h1 {
      color: white;
      font-size: 70px;
      font-weight: 400;
      margin-bottom: 0 !important;
    }
    p {
      color: white;
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 0 !important;
    }
  }
  .swiper-slide {
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    h4 {
      font-size: 1.5rem;
      font-weight: 500;
      color: rgb(170, 155, 155);
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 0.5rem !important;
      filter: brightness(0.5);
    }
  }
  .carousell-section {
    padding-top: 70px;
    position: relative;
  }
  #component-section {
    padding: 50px;
  }
  .component-row {
    display: flex;
    justify-content: space-between;
  }
  .component-card {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 15px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
    .component-text {
      padding-left: 90px !important;
    }
  }

  .shop-iconn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #283593;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    position: absolute;
    top: -40px;
    left: 15px;
  }
}

#banner {
  padding: 10px 0;
  img {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    filter: brightness(0.5);
  }
  .banner-first {
    position: relative;
    img {
      width: 100%;
      height: 620px;
    }
    .banner-text {
      position: absolute;
      bottom: 100px;
      left: 20px;
      background-color: #050713ad;
      h4 {
        color: white;
      }
      h5 {
        color: white;
      }
      button {
        width: 120px;
        padding: 10px 0;
        border-radius: 5px;
        font-weight: 500;
        border: none;
        background-color: white;
      }
    }
  }
  .banner-second {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    position: relative;
    img {
      width: 100%;
      height: 300px;
    }
    .banner-second-first {
      .banner-text {
        position: absolute;
        top: 130px;
        left: 30px;
        background-color: #050713ad;
        h4 {
          color: white;
        }
        h5 {
          color: white;
        }
        button {
          width: 120px;
          padding: 10px 0;
          border-radius: 5px;
          font-weight: 500;
          border: none;
          background-color: white;
        }
      }
    }
    .banner-second-second {
      .banner-text {
        position: absolute;
        bottom: 50px;
        left: 30px;
        background-color: #050713ad;
        h4 {
          color: white;
        }
        h5 {
          color: white;
        }
        button {
          width: 120px;
          padding: 10px 0;
          border-radius: 5px;
          font-weight: 500;
          border: none;
          background-color: white;
        }
      }
    }
    .banner-second-third {
      .banner-text {
        position: absolute;
        top: 130px;
        left: 30px;
        background-color: #050713ad;
        h4 {
          color: white;
        }
        h5 {
          color: white;
        }
        button {
          width: 120px;
          padding: 10px 0;
          border-radius: 5px;
          font-weight: 500;
          border: none;
          background-color: white;
        }
      }
    }
    .banner-second-four {
      .banner-text {
        position: absolute;
        bottom: 50px;
        left: 30px;
        background-color: #050713ad;
        h4 {
          color: white;
        }
        h5 {
          color: white;
        }
        button {
          width: 120px;
          padding: 10px 0;
          border-radius: 5px;
          font-weight: 500;
          border: none;
          background-color: white;
        }
      }
    }
  }
}

#new-arriwals {
  .col-12 {
    h2 {
      padding: 70px 0 30px 0;
    }
  }
  .first {
    position: relative;
    img {
      width: 100%;
      height: 400px;
      filter: brightness(0.5);
    }
    .first-text {
      position: absolute;
      bottom: 30px;
      left: 20px;
      color: white;
    }
  }
}

#black-slider {
  width: 100%;
  height: 400px;
  background-color: black;
  position: relative;

  .Products {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    h1 {
      font-size: 32px;
      font-weight: 300;
      color: white;
      padding: 10px 10px 0 10px;
    }

    #tab-menu-area {
      .tab-menu {
        padding: 0;
        .tab-header {
          display: flex;
          border: 1px solid black;
          height: 50px;
          align-items: center;
          margin-bottom: 20px;

          div {
            font-size: 16px;
            font-weight: bold;
            color: white;
            cursor: pointer;
            height: 100%;
            padding: 5px 10px 0 10px;
            transition: all 0.3s;
          }
        }

        .tab-body {
          padding: 0;
          .card-header {
            padding: 0 !important;
            .prod-img {
              padding: 0 !important;
              filter: brightness(1) !important;
              border-radius: 0 !important;
              position: relative;
              &:hover {
                .prod-add {
                  transition: 0.5s;
                  transform: translateY(-25px);
                }
              }
              .prod-price {
                position: absolute;
                bottom: 5%;
                left: 5%;
                background-color: white;
                padding: 2px 5px;
                border-radius: 6px;
                a {
                  text-decoration: none;
                }
              }
              .prod-add {
                position: absolute;
                bottom: -7%;
                right: 6%;
                width: 50px;
                height: 50px;
                background-color: #283593;
                padding: 2px 5px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                  font-size: 20px;
                  color: white;
                }
              }
            }

            .prod-body {
              img {
                filter: brightness(0) !important;
              }
            }
          }
          .card-body {
            .fa-solid {
              color: rgb(241, 218, 8);
            }
          }
          .card-footer {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
  .swiper {
    min-height: 50vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  .my-cards {
    height: 700px !important;
  }
  .swiper-slide-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .swiper-slide-text button {
    width: 120px;
    padding: 6px 0;
    border-radius: 5px;
    border: none;
  }
  .swiper-slide-text h1 {
    margin-bottom: 0 !important;
  }
  .swiper-slide-text p {
    margin-bottom: 0 !important;
  }
  .swiper-slide {
    width: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .swiper-slide h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(170, 155, 155);
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem !important;
    filter: brightness(1);
  }

  .carousell-section {
    margin: 0;
    padding: 0;
    position: relative;
  }
  .component-section {
    padding: 50px;
  }
  .component-row {
    display: flex;
    justify-content: space-between;
  }
  .component-card {
    position: relative;
    width: 31.5%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .component-card .component-text {
    padding-left: 90px;
  }
  .shop-iconn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #283593;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    position: absolute;
    top: -35px;
    left: 20px;
  }
}

#plus-section {
  .div-plus {
    width: 100%;
    height: 800px;
    margin-top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../img/plus-background.png);
    background-size: 25px;
    padding: 92px 0;
    .plus-div {
      width: 85%;
      height: 100%;
      position: relative;
      background-image: url(../../img/bg-sunglass.jpg);
      filter: brightness(0.5);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .plus-text {
      position: absolute;
      text-align: center;
      line-height: 5;
      i {
        color: white;
        font-size: 2.8rem;
      }
      h1 {
        color: white;
        font-size: 4.8vw;
        font-weight: 400;
      }
      h2 {
        color: white;
        font-size: 2.8vw;
        font-weight: 400;
      }
      button {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 120px;
        border-radius: 5px;
        font-weight: 500;
        border: none;
      }
    }
  }
}

#foot-slider {
  height: 400px;
  padding-top: 50px;
  text-align: center;
  h1 {
    padding-bottom: 0;
  }
  .carousell-section {
    padding-top: 0;
  }
  .swiper {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  .swiper-slide {
    width: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .swiper-slide h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(170, 155, 155);
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem !important;
    filter: brightness(0.5);
  }

  .swiper-button-next {
    right: 4% !important;
    top: 46% !important;
  }
  .swiper-button-prev {
    left: 4% !important;
    top: 46% !important;
  }
  .carousell-section {
    padding-top: 70px;
    position: relative;
  }
  .component-section {
    padding: 50px;
  }
  .component-row {
    display: flex;
    justify-content: space-between;
  }
  .component-card {
    position: relative;
    width: 31.5%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .component-card .component-text {
    padding-left: 90px;
  }
  .shop-iconn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #283593;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    position: absolute;
    top: -35px;
    left: 20px;
  }
}

#blue-foot {
  background-color: #283593;
  padding: 80px 0 30px;
  position: relative;
  .my-container {
    width: 100%;
    margin: auto;
  }
  .row {
    --bs-gutter-x: 0 !important;
  }
  .info {
    text-align: center;
  }
  .icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    left: 45%;
    top: -45px;
    margin: auto;
    right: 0;
    left: 0;
    i {
      font-size: 40px;
    }
  }
  h1,
  p {
    color: white;
  }
  .form-wrapper {
    max-width: 31.5%;
    min-width: 300px;
    margin: 15px auto;
    i {
      color: white;
      font-size: 25px;
    }
  }
  .form {
    display: flex;
    align-items: baseline;
  }

  .form-group {
    position: relative;

    & + .form-group {
      margin-top: 30px;
    }
  }

  .form-label {
    position: absolute;
    left: 0;
    top: 10px;
    color: #fff;
    z-index: 10;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
  }

  .focused .form-label {
    transform: translateY(-125%);
    font-size: 0.75em;
  }
  .form-group {
    width: 90%;
  }
  .form-input {
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 1px solid white;
    background-color: transparent;
    transition: box-shadow 150ms ease-out;
    caret-color: white;
    color: white;

    &:focus {
      box-shadow: 0 1px 0 0 white;
    }
  }
}

#download-area {
  a {
    color: #050713;
    font-weight: 700;
    text-decoration: none;
  }
  .row {
    --bs-gutter-x: 0 !important;
  }
  .apple {
    width: 100%;
    height: 100px;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #050713;

    i {
      padding-right: 10px;
    }
  }
  .android {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #050713;
    img {
      padding-right: 10px;
    }
  }
}

#my-footer {
  background-color: black !important;
  li {
    a {
      text-decoration: none;
      transition: 0.2s;
      &:hover {
        // transform-origin: 0% 50%;
        // transform: scaleX(1);
        color: #ff4816 !important;
        transition: 0.2s;
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;
  }

  .text-center {
    text-align: left !important;
  }
}

@media (max-width: 992px) {
  .btn {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .home {
    position: inherit !important;
    display: none;
  }

  .shop {
    display: none;
  }

  .submenu {
    position: inherit !important;
  }

  .nav-a {
    color: #000 !important;
    text-align: left !important;
  }

  .categori {
    display: none !important;
  }

  #black-area .container .btn li:hover .submenu {
    height: 100% !important;
  }

  #black-area .container .btn li:hover .submenu {
    overflow: auto !important;
  }

  #center-area .container .input {
    display: none;
  }

  .dropdown-ul {
    display: none;
  }

  .offcanvas-header {
    justify-content: flex-end !important;
  }
  .component-row {
    gap: 60px;
  }
  #banner {
    .banner-first {
      margin-bottom: 20px;
    }
  }
  #new-arriwals {
    .col-lg-3 {
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 768px) {
  #black-area {
    display: none;
  }
  #banner {
    .banner-row {
      gap: 20px;
    }
    .banner-first {
      margin-bottom: 0px;
    }
  }
}
