* {
    margin-top: 0;
    margin-left: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
}
#header{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
   text-align: center;
   align-items: center;
    margin-top: -143px;
    background-image: url(../../img/product-detail/page-title-bar.jpg);
    background-size: cover;
    
    .head-img{
        padding-top: 100px;

       h1{
        font-size: 50px;
        color: white;
       }
       span{
        color: white;
        font-size: 18px;
        font-weight: 300;
       }

    }
}

#product-detail {
  padding-top: 50px;
  .my-container {
    width: 97%;
    margin: auto;
  }
  .price {
    font-size: 20px;
  }
  select {
    width: 230px;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    cursor: pointer;
  }
  button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  }
  .first {
    background-color: #ff5722;
    color: white;
  }
  .second {
    background-color: white;
    margin-left: 10px;
  }
  .share {
    display: flex;
    span {
      margin-top: 5px;
    }
    .social {
      display: flex;
      gap: 10px;
      padding-left: 15px;
      .soc {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
        background-color: #283593;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          background-color: white;
        }
        &:hover i {
          color: #283593;
        }
        i {
          padding-left: 14px;
          padding-top: 12px;
          color: white;
        }
      }
    }
  }
  a {
    color: black;
  }
  .price {
    color: #ff5722;
  }
  #big-photo {
    display: flex;
    margin: auto;
  }
  #middle-photo img {
    width: 26vw;
    border-radius: 0.8rem;
    height: 750px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  #small-photo {
    width: 26vw;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    img {
      border-radius: 0.8rem;
      height: 100px;
      cursor: pointer;
    }
  }
}


#my-footer {
  background-color: black !important;
  li{
    a {
      text-decoration: none;
      transition: 0.2s;
      &:hover {
        color: #FF4816 !important;
        transition: 0.2s;
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;
  }

  .text-center {
    text-align: left !important;
  }
}

